<div *ngIf="listadoTurnos.length == 0" class="card bg-light">
  <div class="card-body">
    <h5 class="card-title text-center">
      No hay turnos para mostrar
    </h5>
  </div>
</div>
<div *ngFor="let turno of listadoTurnos; let i = index" class="card mb-2">
  <div class="card-body"><span>Nombre Completo: </span>{{ turno.nombre }}</div>
  <div class="card-body"><span>Fecha: </span>{{ turno.fecha }}</div>
  <div class="card-body"><span>Hora: </span>{{ turno.hora }}</div>
  <div class="card-body"><span>Sintomas: </span>{{ turno.sintomas }}</div>
  <button style="width: 100%;" class="btn btn-danger btn-block" (click)="eliminarTurno(i)">Eliminar</button>
</div>
